---
import type { SimpleLink } from '@/components/SectionLink/Simple.astro';
import { getCollection } from 'astro:content';
import BaseSection from '@/components/ProfileSection/BaseSection.astro';
import SectionLink from '@/components/SectionLink';

const courses: SimpleLink[] = (await getCollection('courses')).map(
  ({ data: { code, title, course, campus, homepage, description } }) => ({
    name: `${course}-${code}-${campus}`,
    description: `${title}: ${description}`,
    homepage,
  })
);
---

{
  !!courses.length && (
    <BaseSection title="Ensino">
      <nav>
        {courses.map((course) => (
          <SectionLink.Simple {...course} />
        ))}
      </nav>
    </BaseSection>
  )
}
