---
interface Props {
  title: string;
  description?: string;
  homepage?: string;
}

const { title, description, homepage } = Astro.props as Props;
---

{
  homepage ? (
    <a
      href={homepage}
      target="_blank"
      class="flex max-md:flex-col justify-between gap-2 p-2 -mx-2 rounded-md hover:bg-gray-100"
    >
      <p class="md:w-1/4">{title}</p>
      {description && <p class="md:flex-1 text-gray-500">{description}</p>}
    </a>
  ) : (
    <div class="flex max-md:flex-col justify-between gap-2 p-2 -mx-2 rounded-md hover:bg-gray-100">
      <p class="md:w-1/4">{title}</p>
      {description && <p class="md:flex-1 text-gray-500">{description}</p>}
    </div>
  )
}
